.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99999;
}

.sec1 {
	height: 100vh;
	background-color: #fff;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}
.main-sec {
	background:url('images/front.jpg') repeat;
	background-size: cover;
	background-position: center center;
}